<div class="container">
    <h2 class="my-4">Lista de Productos</h2>
    <ul class="list-unstyled product-list">
        <li *ngFor="let product of products" class="product-item">
            <span>{{ product.name }} - ${{ product.price }}</span>
            <div>
                <button class="btn btn-primary" (click)="editProduct(product.id)">Editar</button>
                <button class="btn btn-danger" (click)="deleteProduct(product.id)">Eliminar</button>
            </div>
        </li>
    </ul>
    <button class="btn btn-success" routerLink="/add">Añadir Producto</button>
</div><br>